body {
  font-family: roboto;
}

.background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/background.png);
  overflow-x: auto;
  overflow-y: auto;
}

.container {
  width: 1030px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  padding-top: 46px;
  margin-bottom: 17px;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
}

.logo-image-wight {
  margin-right: 8px;
  position: relative;
}

.logo-image-orange {
  display: none;
}

.logo-text {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
}
.milan {
  display: block;
  font-size: 29px;
  line-height: 29px;
  margin-bottom: 3px;
}

.contacts {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.mail {
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 19px;
}

.mail:hover {
  color: #f26522;
}

.tel {
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
}

.tel:hover {
  color: #f26522;
}

.tours {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 38px;
  column-gap: 65px;
}

.tour {
  position: relative;
  overflow: hidden;
}

.tour:hover .hidden-block {
  bottom: 36px;
}

.tour:hover .tour-text {
  color: #f26522;
}

.tour-description {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.tour-image {
    width: 300px;
    height: 220px;
    object-fit: none;
  }

.hidden-block {
  display: flex;
  background-color: #f26522;
  justify-content: space-between;
  padding: 7px 14px 12px 16px;
  width: 100%;
  position: absolute;
  bottom: -260px;
  transition: bottom 0.6s;
}

.hidden-block-costs {
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  margin: 0;
}

.euro {
  display: block;
  margin-top: 8px;
  font-size: 20px;
  line-height: 20px;
}

.hidden-block-details {
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  align-self: flex-end;
}

.hidden-block-details::after {
  content: url(../img/Vector.png);
  margin-left: 16px;
}

.tour-text {
  margin-bottom: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}

.copyright {
  color: #ffffff;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  padding-top: 49px;
  padding-bottom: 15px;
}
